body, html, #app, .mainWindow, .test{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #666666;
    font-family: Roboto, "Open Sans", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
}
.app{
    width: 100%;
    height: 430px;
    background: #333333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.imageWindows{
    width: calc(100% - 4px);
    height: 300px;
    margin: 0 auto;
    background: #555555;
}
.image1{
    width: calc(50% - 8px);
    height: calc(100% - 8px);
    background: #444444;
    float: left;
    padding: 4px;
}
.image2{
    width: calc(50% - 8px);
    height: calc(100% - 8px);
    background: #444444;
    float: left;
    padding: 4px;
}
@media (max-width: 400px) {
    .app{
        height: 330px;
    }
    .imageWindows{
        height: 200px;
    }
    .image1, .image2{
        width: calc(100% - 8px);
        height: calc(50% - 8px);
        background: #444444;
        padding: 4px;
        float: none;
    }
}
@media (max-width: 500px) {
    .app{
        height: 380px;
    }
    .imageWindows{
        height: 250px;
    }
    .image1, .image2{
        width: calc(100% - 8px);
        height: calc(50% - 8px);
        background: #444444;
        padding: 4px;
        float: none;
    }
}
.image2 > img{
    max-width: 100%;
    max-height: 100%;
}



.settings{
    width: 100%;
    height: 126px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222222;
    padding-top: 4px;
}
.pnkt{
    width: 100%;
    height: 25%;
}
.pnkt > label{
    margin-left: -190px;
    cursor: pointer;
    outline: none;
}
.pnkt > label > span{
    width: auto;
    height: 25px;
    line-height: 25px;
    position: fixed;
    cursor: pointer;
    padding-left: 10px;
    color: #ffffff;
}
.button{
    background: #0097A7;
    border: 0;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    outline: none;
}
.button:active{
    background: #006064 !important;
}
.button:hover{
    background: #00838F;
}
